<div class="container">
  <div class="row">
    <div class="col-md-12">

      <form (submit)="addUser()" action="">
      <input type="text" /><button>Save</button>
      </form>
      

      <ul *ngFor="let user of users" class="list-group list-group-flush">
        <li class="list-group-item">
          {{user}} 
          <button (click)="deleteUser(user)" class="btn btn-danger">X</button> 
        </li>
      </ul>




      
      <!-- <h3>{{name}}</h3>
      <small>{{age}}</small>
      <p>Address:</p>
      <p>{{address.street}} (street)</p>
      <p>{{address.city}} (city)</p> -->
      
      <ul *ngFor="let hobby of hobbies">
        <li>
          {{hobby}} 
          <button (click)="deleteHobby(hobby)" class="btn btn-danger">X</button> 
        </li>
      </ul>


    </div>
  </div>
</div>